<div class="container forgot-password-container text-center p-2">
  <div class="text-center my-4">
    <h2 style="color: #1c301e;">Esqueceu sua senha?</h2>
  </div>

  <div class="text-center">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="m-2">
        <%# <%= f.label :email %><%#<br /> %>
        <div class="m-2">
          <%= label_tag "email", "Email cadastrado" %><br />
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <%# <%= f.label :email, "Email cadastrado" %><%#br /> %>
      </div>
  </div>

  <div class="text-center">
    <div class="mb-5">
      <%= f.submit "Enviar instruções de nova senha", class: "btn-login-form" %>
    </div>
    <% end %>

  </div>
</div>
