<div class="mail-container">
  <div class="products-title text-center mt-3 px-3">
    <h1>Do que você precisa?</h1>
  </div>
  <div class="mail-card my-3 p-2">
    <%= form_with(url: new_contact_path, method: :post) do |form| %>
      <div class="mail-fields p-2">
        <div class="mail-field my-2 px-3">
          <%= form.label :name, 'Seu nome' %>
          <%= form.text_field :name, class: 'form-control', placeholder: 'Seu nome' %>
        </div>

        <div class="mail-field my-2 px-3">
          <%= form.label :phone_number, 'Seu número de telefone' %>
          <%= form.text_field :phone_number, class: 'form-control', placeholder: '(xx)xxxxx-xxxx' %>
        </div>

        <div class="mail-field my-2 px-3">
          <%= form.label :subject, 'Assunto' %>
          <%= form.text_field :subject, class: 'form-control', placeholder: 'Assunto' %>
        </div>

        <div class="mail-field my-2 px-3">
          <%= form.label :message, 'Sua mensagem' %>
          <%= form.text_area :message, class: 'form-control', placeholder: 'Sua mensagem' %>
        </div>

        <div class="mail-field mt-3 p-3">
          <%= form.submit 'Enviar', class: 'btn-edit-profile' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
