<div class="container edit-container">
  <h2 class="text-center my-4 products-title">Editar perfil</h2>

  <div class="edit-card">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Esperando confirmação para: <%= resource.unconfirmed_email %></p>
        <% end %>

          <div class="form-group col-md-6">
            <%= f.input :email,
                        label: "Email",
                        required: false,
                        input_html: { placeholder: "Nova descrição" } %>
          </div>

          <div class="form-group col-md-6">
            <%= f.input :address,
                        label: "Endereço completo",
                        required: false,
                        input_html: { placeholder: "Nova descrição" } %>
          </div>



          <div class="form-group">
            <%= f.input :phone_number,
                        label: "Telefone (somente números)",
                        required: false %>
          </div>

          <div class="form-group">
            <%= f.input :CPF,
                        label: "CPF (somente números)",
                        required: false %>
          </div>

          <div class="form-group">
            <%= f.input :password,
                        label: "Nova senha",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="hint-below">
            Deixe em branco caso queira manter a senha atual
          </div>
          <div class="form-group col-md-6">
            <%= f.input :password_confirmation,
                        label: "Confirme a nova senha",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-group col-md-6">
            <%= f.input :current_password,
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="hint-below">
            Precisamos da sua senha atual para confirmar suas alterações
          </div>

      </div>

      <div class="form-actions mt-3 ms-3">
        <%= f.button :submit, "Atualizar",  class: 'btn-edit-card submit-edit-profile' %>
      </div>
    <% end %>
    <div class="cancelar-conta d-flex align-item-center ms-3 mt-4">
      <p class='me-3' >Deseja cancelar sua conta? </p>
    </div>
    <div class="btn-cancel ms-3 mb-2">
      <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?", turbo_confirm: "Confirma?" }, method: :delete, class: 'btn-edit-card mb-3' %>
      <%= link_to "Voltar", :back, style: 'color: #392d14;', class: 'btn-edit-card my-3' %>
    </div>
</div>
